@model CorsoMVC.Models.Persona

@*<form action="/Utenti/InviaDatiPrimoForm" method="POST">
    <input name="username" type="text" />

    <input name="password" type="password" />

    <input type="submit" value="Invia" />
</form>*@

@*<form action="/Utenti/InviaDatiPrimoForm2" method="POST">
    <input name="username" type="text" />

    <input name="password" type="password" />

    <input type="submit" value="Invia" />
</form>*@

@*<form action="/Utenti/InviaDatiPrimoForm3" method="POST">
    <input name="Eta" type="text" />
    <input name="Cognome" type="text" />
    <input name="Nome" type="text" />

    <input type="submit" value="Fai che ne so io" />
</form>*@

@*<form action="/Utenti/InviaDatiPrimoForm3" method="POST">

    @Html.TextBoxFor(m => m.Eta)
    @Html.TextBoxFor(m => m.Cognome)
    @Html.TextBoxFor(m => m.Nome)

    <input type="submit" value="Invia" />

</form>*@

@using (Html.BeginForm("InviaDatiPrimoForm3", "Utenti"))
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome)
        @Html.ValidationMessageFor(m => m.Nome)
    </div>

    <div>
        @Html.LabelFor(m => m.Cognome)
        @Html.TextBoxFor(m => m.Cognome)
        @Html.ValidationMessageFor(m => m.Cognome)
    </div>

    <div>
        @Html.LabelFor(m => m.Eta)
        @Html.TextBoxFor(m => m.Eta)
        @Html.ValidationMessageFor(m => m.Eta)
    </div>

    <div>
        <input type="submit" value="Invia" />
    </div>
}
